{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $abstract := print (.Params.abstract) " " (.Params.abstract_para2) }}
{{ $org_name :=  .Site.Title }}
{{ $page := . }}
{{ $websiteID := print (.Site.BaseURL) "#website" }}
{{ $webpageID := print (.Permalink | absURL) "#webpage" }}
{{ $webpageImageID := print (.Permalink | absURL) "#webpageImage" }}
{{ $websiteImageID := print (.Site.Params.sharing_image | absURL) "#websiteImage" }}
{{ $authorImageID := print (.Site.Params.avatar | absURL) "#authorImage" }}
{{ $breadcrumbListID := print (.Permalink | absURL) "#breadcrumbList" }}
{{ $scholarlyArticleID := print (.Permalink | absURL) "#scholarlyArticle" }}
{{ $articleID := print (.Permalink | absURL) "#article" }}
{{ $authorID := print (.Site.BaseURL) "/about/#author" }}
{{ $periodicalID := print (.Params.journal_title) "#periodical" }}
{{ $issueID := print (.Params.journal_title) "#issue_" (.Params.issue) }}
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}

{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}

{{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ $.Scratch.Add "path" "/" }}
    
    {{ if ne $element "" }}
        {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
    {{ end }}

{{ end }}
<script type="application/ld+json">
{
"@graph":[
{{ if eq .Params.contenttype "publication" }}
{	
  	"@id":{{ $scholarlyArticleID }},
  	"mainEntityOfPage": {{ .Permalink | absURL }},
	"headline":"{{ .Title | safeJS }}",
	"name": "{{ .Title | safeJS }}",
	"description":"{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
	"inLanguage": {{ .Site.LanguageCode | default "en" }},
	"dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"pageStart": {{ .Params.firstpage }},
	"pageEnd": {{ .Params.lastpage }},
	"abstract": {{ $abstract }},
	"sameAs": [
	             {{ print "https://api.semanticscholar.org/CorpusID:" (.Params.corpusID) }},
	             {{ print "https://doi.org/" (.Params.doi) }}
	          ],
	"keywords": [ {{ range $index, $keyword := .Params.tags }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }} ],
	"image":{
	  "contentURL": [ 
	    {{ with ($page.Resources.ByType "image").GetMatch "*1x1*" }}{{ .Permalink | absURL }}{{ end }},
	    {{ with ($page.Resources.ByType "image").GetMatch "*4x3*" }}{{ .Permalink }}{{ end }},
	    {{ with ($page.Resources.ByType "image").GetMatch "*1920*" }}{{ .Permalink }}{{ end }}
	 ],
	 "license": {{ .Params.sidebar.image_license }},
    "acquireLicensePage": {{ .Params.sidebar.image_license_page }},
    "@type": "ImageObject"
	},
	{{ if .Params.journal_title }}
	"isPartOf": {
	      "issueNumber": {{ .Params.issue }},
        "datePublished": {{ .PublishDate.Format "2006-01" | safeHTML }},
        "isPartOf": {
        		"name":{{ .Params.journal_title  }},
        		"url":{{ .Params.journal_url  }},
        		"sameas": [
					            {{ .Params.journal_wikipedia }},
					            {{ .Params.journal_wikidata }},
					            {{ .Params.journal_url }}
					           ],
            "issn": [
                    {{ .Params.print_issn }},
                    {{ .Params.online_issn }}
                  ],
	          "volumeNumber":{{ .Params.volume }},
		        "@type":[
			          "Periodical",
			          "PublicationVolume"
		            	]
		          	},
          "@type": "PublicationIssue"},	
  {{ end }}
	"publisher":{
		"name":"{{ .Params.publisher | safeJS }}",
		"logo":{
			"url":{{ .Params.publisher_logo | absURL }},
			"@type":"ImageObject"
			},
		"@type":"Organization"},
	"author":[
	  {{ if .Params.second_author }}
			{
			"name":"{{ $author }}",
			"@id":{{ $authorID }},
			"familyName":{{ .Params.author_surname }},
			"givenName":{{ .Params.author_first_name }},
			"affiliation":[
			  {
					"name":{{ .Params.author_institution }},
					"address":{
						"streetAddress":{{ .Params.author_institution_street_address }},
						"addressLocality":{{ .Params.author_institution_address_locality }},
						"addressRegion":{{ .Params.author_institution_address_region }},
						"addressCountry":{{ .Params.author_institution_address_country }},
						"postalCode":{{ .Params.author_institution_address_postcode }},
						"@type":"PostalAddress"},
					"url": {{ .Params.author_institution_url }},
					"sameas": [
					            {{ .Params.author_institution_wikipedia }},
					            {{ .Params.author_institution_wikidata }},
					            {{ .Params.author_institution_twitter }},
					            {{ .Params.author_institution_url }}
					           ],
					"@type":"EducationalOrganization"}
					],
			"honorificPrefix": {{ .Params.author_title }},
			"jobTitle": {{ .Params.author_job_title }},
			"url": {{ .Params.author_employer_profile }},
			"sameas": [
                 			{{ .Params.author_wikidata }},
                 			{{ .Params.orcid }},
                 			{{ .Params.google_scholar }},
                 			{{ .Params.author_semantic_scholar }},
                			{{ .Params.author_employer_profile }},
                			{{ .Params.author_philpeople }},
                			{{ .Params.author_academia }},
                 			{{ .Params.author_researchgate }},
                 			{{ .Params.author_humanities_commons }},
                 			{{ .Params.twitter }}
                 		],
                 	"worksFor": {
                 			"name":{{ .Params.author_employer }},
					"address":{
						"streetAddress":{{ .Params.author_employer_street_address }},
						"addressLocality":{{ .Params.author_employer_address_locality }},
						"addressRegion":{{ .Params.author_employer_address_region }},
						"addressCountry":{{ .Params.author_employer_address_country }},
						"postalCode":{{ .Params.author_employer_address_postcode }},
						"@type":"PostalAddress"},
					"url": {{ .Params.author_employer_url }},
					"sameas": [
					            {{ .Params.author_employer_wikipedia }},
					            {{ .Params.author_employer_wikidata }},
					            {{ .Params.author_employer_twitter }},
					            {{ .Params.author_employer_url }}
					           ],
					"@type":"EducationalOrganization"
					},
                 	"email":{{ .Params.author_email }},
			"@type":"Person"},
			{
			"name":"{{ .Params.second_author }}",
			"familyName":{{ .Params.second_author_surname }},
			"givenName":{{ .Params.second_author_first_name }},
			"affiliation":[
			  {
					"name":{{ .Params.second_author_institution }},
					"address":{
						"streetAddress":{{ .Params.second_author_institution_street_address }},
						"addressLocality":{{ .Params.second_author_institution_address_locality }},
						"addressRegion":{{ .Params.second_author_institution_address_region }},
						"addressCountry":{{ .Params.second_author_institution_address_country }},
						"postalCode":{{ .Params.second_author_institution_address_postcode }},
						"@type":"PostalAddress"},
					"url": {{ .Params.second_author_institution_url }},
					"sameas": [
					            {{ .Params.second_author_institution_wikipedia }},
					            {{ .Params.second_author_institution_wikidata }},
					            {{ .Params.second_author_institution_twitter }},
					            {{ .Params.second_author_institution_url }}
					           ],
					"@type":"EducationalOrganization"}
					],
			"honorificPrefix": {{ .Params.second_author_title }},
			"sameas": [
                 			{{ .Params.second_author_google_scholar }},
                			{{ .Params.second_author_institution_profile }},
                			{{ .Params.second_author_philpeople }},
                			{{ .Params.second_author_academia }},
                 			{{ .Params.second_author_researchgate }},
                 			{{ .Params.second_author_twitter }},
                 			{{ .Params.second_author_orcid }}
                 		],
			"@type":"Person"}
			  {{ else }}
					{
			"name":"{{ $author }}",
			"@id":{{ $authorID }},
		  	"familyName":{{ .Params.author_surname }},
		  	"givenName":{{ .Params.author_first_name }},
			"affiliation":[
			  {
					"name":{{ .Params.author_institution }},
					"address":{
						"streetAddress":{{ .Params.author_institution_street_address }},
						"addressLocality":{{ .Params.author_institution_address_locality }},
						"addressRegion":{{ .Params.author_institution_address_region }},
						"addressCountry":{{ .Params.author_institution_address_country }},
						"postalCode":{{ .Params.author_institution_address_postcode }},
						"@type":"PostalAddress"},
					"url": {{ .Params.author_institution_url }},
					"sameas": [
					            {{ .Params.author_institution_wikipedia }},
					            {{ .Params.author_institution_wikidata }},
					            {{ .Params.author_institution_twitter }},
					            {{ .Params.author_institution_url }}
					           ],
					"@type":"EducationalOrganization"}
					],
			"honorificPrefix": {{ .Params.author_title }},
			"jobTitle": {{ .Params.author_job_title }},
			"url": {{ .Params.author_employer_profile }},
			"sameas": [
                 			{{ .Params.author_wikidata }},
                 			{{ .Params.orcid }},
                 			{{ .Params.google_scholar }},
                 			{{ .Params.author_semantic_scholar }},
                			{{ .Params.author_employer_profile }},
                			{{ .Params.author_philpeople }},
                			{{ .Params.author_academia }},
                 			{{ .Params.author_researchgate }},
                 			{{ .Params.author_humanities_commons }},
                 			{{ .Params.twitter }}
                 		],
                 	"worksFor": {
                 			"name":{{ .Params.author_employer }},
					"address":{
						"streetAddress":{{ .Params.author_employer_street_address }},
						"addressLocality":{{ .Params.author_employer_address_locality }},
						"addressRegion":{{ .Params.author_employer_address_region }},
						"addressCountry":{{ .Params.author_employer_address_country }},
						"postalCode":{{ .Params.author_employer_address_postcode }},
						"@type":"PostalAddress"},
					"url": {{ .Params.author_employer_url }},
					"sameas": [
					            {{ .Params.author_employer_wikipedia }},
					            {{ .Params.author_employer_wikidata }},
					            {{ .Params.author_employer_twitter }},
					            {{ .Params.author_employer_url }}
					           ],
					"@type":"EducationalOrganization"
					},
                 	"email":{{ .Params.author_email }},
			"@type":"Person"}
			{{ end }}
			],
	"speakable":{
  		"@type": "SpeakableSpecification",
  		"xPath": [
  		"/html/head/title",
    		"/html/head/meta[@name='description']/@content"
  		]
		},
	"@type":"ScholarlyArticle"},
{{ end }}
{{ if eq .Params.contenttype "article" }}
{
  "@id":{{ $articleID }},
  "mainEntityOfPage": {{ .Permalink | absURL }},
	"headline":"{{ .Title | safeJS }}",
	"name": "{{ .Title | safeJS }}",
	"description":"{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
	"inLanguage": {{ .Site.LanguageCode | default "en" }},
	"dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
	"keywords": [ {{ range $index, $keyword := .Params.tags }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }} ],
	"image":{
	  "contentURL": [ 
	    {{ with ($page.Resources.ByType "image").GetMatch "*1x1*" }}{{ .Permalink | absURL }}{{ end }},
	    {{ with ($page.Resources.ByType "image").GetMatch "*4x3*" }}{{ .Permalink }}{{ end }},
	    {{ with ($page.Resources.ByType "image").GetMatch "*1920*" }}{{ .Permalink }}{{ end }}
	 ],
	 "license": {{ .Params.sidebar.image_license }},
    "acquireLicensePage": {{ .Params.sidebar.image_license_page }},
    "@type": "ImageObject"
	},
	"author":{
		"name":"{{ $author }}",
		"@id":{{ $authorID }},
		"familyName":{{ .Params.author_surname }},
		"givenName":{{ .Params.author_first_name }},
		"honorificPrefix": {{ .Params.author_title }},
		"jobTitle": {{ .Params.author_job_title }},
		"url": {{ .Params.author_employer_profile }},
		"sameas": [
                 			{{ .Params.author_wikidata }},
                 			{{ .Params.orcid }},
                 			{{ .Params.google_scholar }},
                 			{{ .Params.author_semantic_scholar }},
                			{{ .Params.author_employer_profile }},
                			{{ .Params.author_philpeople }},
                			{{ .Params.author_academia }},
                 			{{ .Params.author_researchgate }},
                 			{{ .Params.author_humanities_commons }},
                 			{{ .Params.twitter }}
                 		],
      "worksFor": {
                 "name":{{ .Params.author_employer }},
			           "address":{
			                	"streetAddress":{{ .Params.author_employer_street_address }},
				                "addressLocality":{{ .Params.author_employer_address_locality }},
				                "addressRegion":{{ .Params.author_employer_address_region }},
				                "addressCountry":{{ .Params.author_employer_address_country }},
				                "postalCode":{{ .Params.author_employer_address_postcode }},
					              "@type":"PostalAddress"},
					      "url": {{ .Params.author_employer_url }},
			        	"sameas": [
				            {{ .Params.author_employer_wikipedia }},
				            {{ .Params.author_employer_wikidata }},
				            {{ .Params.author_employer_twitter }},
				            {{ .Params.author_employer_url }}
				           ],
				        "@type":"EducationalOrganization"
				  	},
      "email":{{ .Params.author_email }},
      "image":{
            "@id": {{ $authorImageID }},
            "contentUrl":{{ .Site.Params.avatar | absURL }},
            "caption":"{{ $author }}",
            "license": {{ .Site.Params.sharing_license }},
            "acquireLicensePage": {{ print (.Site.BaseURL) "license/" }},
            "@type":"ImageObject"
		  
			},
	  	"description":{{ .Site.Params.bio }},
	  	"@type":"Person"},
	"speakable":{
  		"@type": "SpeakableSpecification",
  		"xPath": [
  		"/html/head/title",
    		"/html/head/meta[@name='description']/@content"
  		]
		},
	"@type":"Article"},
{{ end }}
{
  "@id":{{ $breadcrumbListID }},
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": {{ .url }},
          "name": {{ replace (.name | title) "-" " " }}
        }
    }{{ end }}],
   "@type": "BreadcrumbList"
},
{{ if eq .Params.contenttype "about" }}
{
      "@id":{{ $authorID }},
      "mainEntityOfPage": {{ $webpageID }},
      "name":"{{ $author }}",
	"familyName":{{ .Params.author_surname }},
	"givenName":{{ .Params.author_first_name }},
			"honorificPrefix": {{ .Params.author_title }},
			"jobTitle": {{ .Params.author_job_title }},
			"sameas": [
                 			{{ .Params.author_wikidata }},
                 			{{ .Params.orcid }},
                 			{{ .Params.google_scholar }},
                 			{{ .Params.author_semantic_scholar }},
                			{{ .Params.author_employer_profile }},
                			{{ .Params.author_philpeople }},
                			{{ .Params.author_academia }},
                 			{{ .Params.author_researchgate }},
                 			{{ .Params.author_humanities_commons }},
                 			{{ .Params.twitter }}
                 		],
    "email":{{ .Params.author_email }},
		"image":{
            "@id": {{ $authorImageID }},
            "contentUrl":{{ .Site.Params.avatar | absURL }},
            "caption":"{{ $author }}",
            "license": {{ .Site.Params.sharing_license }},
            "acquireLicensePage": {{ print (.Site.BaseURL) "license/" }},
            "@type":"ImageObject"
		},
"description":{{ .Site.Params.bio }},
"@type":"Person"},
{
"@id":{{ $webpageID }},
"url":{{ .Permalink | absURL }},
"inLanguage":"en",
"name":"{{ .Title | safeJS }}",
"isPartOf":{
	"@id":{{ $websiteID }}
	},
"image":{
            "@id": {{ $authorImageID }},
            "contentUrl":{{ .Site.Params.avatar | absURL }},
            "caption":"{{ $author }}",
            "license": {{ .Site.Params.sharing_license }},
            "acquireLicensePage": {{ print (.Site.BaseURL) "license/" }},
            "@type":"ImageObject"
},
"speakable":
  {
    "@type": "SpeakableSpecification",
    "xPath": [
        "/html/head/title",
        "/html/head/meta[@name='description']/@content"
       ]
},
"datePublished": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
"description": {{ .Params.description }},
"@type":"WebPage"
},
{{ else }}
{
      "@id":{{ $authorID }},
      "name":"{{ $author }}",
			"familyName":{{ .Params.author_surname }},
			"givenName":{{ .Params.author_first_name }},
			"honorificPrefix": {{ .Params.author_title }},
			"jobTitle": {{ .Params.author_job_title }},
			"sameas": [
                 			{{ .Params.author_wikidata }},
                 			{{ .Params.orcid }},
                 			{{ .Params.google_scholar }},
                 			{{ .Params.author_semantic_scholar }},
                			{{ .Params.author_employer_profile }},
                			{{ .Params.author_philpeople }},
                			{{ .Params.author_academia }},
                 			{{ .Params.author_researchgate }},
                 			{{ .Params.author_humanities_commons }},
                 			{{ .Params.twitter }}
                 		],
    "email":{{ .Params.author_email }},
		"image":{
            "@id": {{ $authorImageID }},
            "contentUrl": {{ .Site.Params.avatar | absURL }},
            "caption":"{{ $author }}",
            "license": {{ .Site.Params.sharing_license }},
            "acquireLicensePage": {{ print (.Site.BaseURL) "license/" }},
            "@type":"ImageObject"
		  
		},
"description":{{ .Site.Params.bio }},
"@type":"Person"},
{
"@id":{{ $webpageID }},
"url":{{ .Permalink | absURL }},
"inLanguage":"en",
"name":"{{ .Title | safeJS }}",
"isPartOf":{
	"@id":{{ $websiteID }}
	},
"datePublished": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
"description": {{ .Params.description }},
"@type":"WebPage"
},
{{ end }}
{
"@id": {{ $websiteID }},
"url": {{ .Site.BaseURL }},
"name": {{ .Site.Params.description }},
"image":{
	"@id": {{ $websiteImageID }},
	"contentUrl": {{ .Site.Params.sharing_image | absURL }},
	"caption":{{ .Site.Params.description }},
	"license": {{ .Site.Params.sharing_license }},
  "acquireLicensePage": {{ print (.Site.BaseURL) "license/" }},
  "@type":"ImageObject"
}, 
"@type":"WebSite"}
	],
"@context":"https://schema.org"
}
</script>